# Count frequency of numbers pulled in 2020 for Lotto649

## The program uses webscrapping techniques to get data from website

In [2]:
import pandas as pd

import requests

In [3]:
url='https://www.lottopcso.com/6-49-lotto-result-history-and-summary/'

In [4]:
#read webpage using requests.get method and read into panda dataframe
r = requests.get(url)
r.status_code

tables = pd.read_html(r.text)

In [7]:
df = tables[1]

In [8]:
lst = df['Winning Numbers'].tolist()

In [14]:
lst2 = []
lst3 = []
for numbers in lst:
    
    number = numbers.split('-')
    lst2.append(number)
    
lst2[0:5]

[['11', '32', '04', '29', '22', '02'],
 ['37', '45', '25', '14', '44', '26'],
 ['23', '19', '16', '38', '09', '08'],
 ['10', '27', '15', '34', '07', '20'],
 ['24', '07', '20', '27', '35', '09']]

In [15]:
#flatten the list
lst3 = [item for sublist in lst2 for item in sublist]
lst3[0:5]

['11', '32', '04', '29', '22']

In [16]:
#convert string to intergers
final_list = []
for num in lst3:
    final_list.append(int(num))
    
final_list[0:5]

[11, 32, 4, 29, 22]

In [18]:
#count frequency of each number in 1-49
counts =[]
numbers = []
for num in range(1,50):
    
    count  = final_list.count(num)
    counts.append(count)
    numbers.append(num)
    
    
    
df = pd.DataFrame(counts, numbers)
df.head()

    0
1  16
2  17
3  14
4  12
5  12